{% extends 'base.html' %}

{% block title %}Yoon's blog{% endblock %}

{% block content %}

<div class="container home-body">
    <h2> {{ cats }} </h2>
    {% for post in category_posts %}
    <div class="home-list-box">
        <div class="home-list-box-upper">
            <h3 class="home-list-title"><a href="{% url 'detail' post.pk %}" class="normal-link text-decoration-none">{{ post.title }}</a></h2>
            <p>{{ post.post_date }}</p>
        </div>
        <p class="home-list-box-downer">{{ post.body|slice:":200"|safe }}</p>
        {% if user.is_authenticated %}
            <div class="home-list-body">
                <a href="{% url 'update' post.pk %}" class="btn btn-success">수정</a>
                <a href="{% url 'delete' post.pk %}" class="btn btn-danger">삭제</a><br>
            </div>
        {% endif %}
    </div>
    {% endfor %}
    {{ no_data }}
</div>

{% endblock %}