/* 전부 다 */
* {
    font-family: 'Nanum Gothic', sans-serif;
}

html, body {
    margin:0;
    height: 100%;
    overflow: auto;
}

/* 버튼 */

.normal-link {
    color:black;
    text-decoration: none;
}
.normal-link:hover {
    color: grey;
}
.bar {
    font-size: 30px !important;
    display: inline-block;
    border: none;
    background: none;
}

/* 페이지 내 각 컨텐츠 */

.content{
    margin: 0;
    height: 100%;
}

#menu{
    position:fixed;
    top:0;
    z-index:100;
    width: 0%;
    height: 100%;
    padding: 30px 0;
    margin: 0;
    display: block;
    overflow: auto;
    transition-duration: 0.5s;
    text-decoration-skip: spaces;
    background-color: ivory;
}

#menu-open{
    display:block;
}

#menu-fold{
    display:none;
}

.menu-title{
    height: 35px;
    font-size: 30px;
    font-weight: 700;
    overflow: hidden;
    margin: 40px 0;
}

.menu-content{
    height: 32px;
    font-size: 25px;
    overflow: hidden;
    margin: 20px 10px;
}

.page{
    padding:0%;
}

.home-body {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-list-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.home-list-box-upper, .home-list-box-downer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-list-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.home-list-title{
    height: 70px;
    font-size: 30px;
    font-weight: 600;
}

.home-list-body{
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-size: 20px;
}

.homepage-cover {
    background-color:antiquewhite;
    background-size: 100%;
    height: 400px;
    cursor: pointer;
    color: black;
    margin: 0;
}

.homepage-title {
    height: 120px;
    font-size: 50px;
    font-weight: bold;
    overflow: hidden;
}

.detail-title{
    font-size: 30px;
    font-weight: 600;
}